.k-top-of-page{ background-position:top center; height:170px; background-image:url('http://localhost:8080/kanhaoyi/image/index_top.jpg'); }
.k-col-black{ color: #212529; }
.k-nav-back{ height:42px; background-color: hsla(0,0%,100%,.4); box-shadow: 0 1px 2px rgba(0,0,0,.1); }
.k-ma-nav-back{ height:42px; box-shadow: 0 1px 2px rgba(0,0,0,.1); }
.k-hid{ display: none; width:40px; }
.k-course-sort{word-wrap:keep-all;white-space:nowrap;overflow: hidden;}
.weixinQR_s{position:fixed;right:0;bottom:0;width:200px;height:400px;}
.weixinLogo_s{position:fixed;right:0;bottom:50px;width:40px;height:40px;}
.line-180 {line-height:180%}