.k-top-of-page{ background-position:top center; height:170px; background-image:url('http://localhost:8080/kanhaoyi/image/0ac04c23af3b3297bf02dca163474326898d211d.png'); }
.k-col-black{ color: #212529; }
.k-nav-back{ height:42px; background-color: hsla(0,0%,100%,.4); box-shadow: 0 1px 2px rgba(0,0,0,.1); }
.k-ma-nav-back{ height:42px; box-shadow: 0 1px 2px rgba(0,0,0,.1); }